# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.svclog
*.pdb
*.cache
*.log
*.vs/
TestResults/
*.dbmdl
*.dbmdl*
*.db
*.sqlite
*.sqlite3
*.mdf
*.ldf
*.vssscc
*.vsscc
*.ncb
*.sdf
*.opensdf
*.v12.suo
*.DS_Store
*.tgz
*.tar.gz
*.zip
*.7z
*.bak
*.tmp
*.swp
*.swo
*.sln.ide
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/
packages/
*.nupkg
*.snupkg
*.vspscc
*.psess
*.vsp
*.vspx
*.vsix
*.docstates
_ReSharper*/
*.resharper
*.DotSettings.user
.idea/
.vscode/
launchSettings.json
